NOTION_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CREEM_LIVE_API_KEY=
CREEM_LIVE_API_URL=
CREEM_TEST_API_KEY=
CREEM_TEST_API_URL=
DISCORD_BOT_TOKEN=
DISCORD_ALERTS_CHANNEL_ID=
